In [1]:
import pandas as pd
import numpy as np

In [2]:
%matplotlib inline
import pylab as plt

# Load Data

In [3]:
master_X = pd.read_csv('data/train_binary.csv', index_col=0)
master_X_prod = pd.read_csv('data/test_binary.csv', index_col=0)

In [4]:
master_X.head(2)

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
id,,,,,,,,,,,,,,,,,,,,,
18321,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,False
31818,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,4,0,0,0,0,False

In [6]:
master_X_prod.head(2)

,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,feat_10,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
id,,,,,,,,,,,,,,,,,,,,,
52081,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,3,0,0,0
44207,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,5,0

In [7]:
def parse(X):
    features = [col for col in X.columns if col != 'target']
    return X[features], X.target

In [8]:
X, y = parse(master_X)
print X.shape, y.shape

(30939, 93) (30939,)

# Train / Test split

In [10]:
from sklearn.metrics import roc_auc_score, accuracy_score
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    random_state=42,
                                                    test_size=0.3)

#### Modèles linéaires

In [12]:
from sklearn.linear_model import LogisticRegression, SGDClassifier

In [13]:
lr = LogisticRegression()

# 1) apprendre le modèle
# 2) calculer les prédictions du test dans y_pred
# 3) calculer l'accuracy sur le set de test
# 4) calculer la roc_auc sur le set de test
# 5) calculer l'accuracy random et la roc_auc random

In [14]:
sgd = SGDClassifier(loss='log', alpha=0.01)

# 1) apprendre le modèle
# 2) calculer les prédictions du test dans y_pred
# 3) calculer l'accuracy sur le set de test
# 4) calculer la roc_auc sur le set de test
# 5) calculer l'accuracy random et la roc_auc random

#### Modèles ensemblistes (optionnel)

In [15]:
from sklearn.ensemble import RandomForestClassifier # Random Forest
from sklearn.ensemble import ExtraTreesClassifier # Extra Trees
from sklearn.ensemble import GradientBoostingClassifier # Gradient Boosting

In [16]:
# 1) apprendre le modèle
# 2) calculer les prédictions du test dans y_pred
# 3) calculer l'accuracy sur le set de test
# 4) calculer la roc_auc sur le set de test
# 5) calculer l'accuracy random et la roc_auc random